# Ansible project: {{ role_name }}

## Description

{{ role_name }} is an Ansible project used to...

### This project repository URL

Repo URL: "https://bitbucket.com/project_{{ role_name }}.git"

## Examples

Provide examples here.

Go to `playbooks` directory and check README.md files for details.
	
## License
https://www.gnu.org/licenses/gpl-3.0.en.html
© Automation OOGH

## Authors

- [My Name](mailto:My.Name@nordea.com)


