# Ansible playbook: dummy_playbook

## Description

This playbooks is used to...

## Requirements

n/a

## Examples

    $ ansible-playbook playbook.yml --list-tasks
    $ ansible-playbook playbook.yml --list-tags

Example 1 with extra vars

    $ ansible-playbook playbook.yml --extra-vars='{ var1: value1, var2: value2 }'

Example with tags

    $ ansible-playbook playbook.yml --tags=tag1
	
	
## License

GPLv3 - GNU General Public License v3.0

## Authors

- [My Name](mailto:My.Name@nordea.com)


