---
# defaults file for {{ role_name }}

# Use '{{ role_name }}_' prefix for all variables

# Include debug information
{{ role_name }}_debug: false

# This role repository URL
{{ role_name }}_repo_url: "https://bitbucket.itgit.oneadr.net/scm/ecoe/ansible_role_{{ role_name }}.git"

